<h1>Icecream Truck Sign Up</h1>

<div class="new-truck-form">
    <%= render 'form' %>
 </div> 

<div class="facebook-signup">
        <%= link_to "Sign Up via Facebook Account", '/auth/facebook' %>
</div>
